
body {
    font-family: 'Courier New', Courier, monospace;
    color:red
}

.pagetitle {
    font-size: 50px;
    text-align: center;
}

.specificrecipetitles {
    font-size: 50px;
    color: red;
}

.recipelist {
    font-size: 22px;
}