
* {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.pagetitle {
    font-size: 50px;
    text-align: center;
    background-color: brown;
    color: white;
    padding: 8px;
    border: 2px solid black;
    margin: 10px auto;
    width: 400px;

}

.specificrecipetitles {
    font-size: 50px;
    color: red;
}

.recipelist {   
    font-size: 22px;
}